@import "src/utils/mixin";

.public-single-action {
  @include flex(center, center);
  margin-top: 50px;

  &-text {
    @include fontLineColor(16px, 22px, #fff);
    padding: 10px 25px;
    background: linear-gradient(135deg, #F75757 0%, #F73131 100%);
    border-radius: 29px;
    border: none;

    &.public-single-action-disabled {
      background: #FFBFB9;
    }
  }
}
